<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Capture</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
</head>

<body>
    <h1>Live Video Feed</h1>
    <img src="{{ url_for('video_capture') }}" width="640" height="480">
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('result', function (data) {
            document.getElementById('textDisplay').innerText = data.result;
        });
    </script>
</body>

</html>